body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header,
.hero-section,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

.hero-section,
.random-information,
.quote {
    padding: 50px 150px;
}

.header,
.footer {
    padding: 10px 150px;
}

.left-title {
    font-size: 24px;
    font-weight: bold;
}

.right-titles {
    display: flex;
    gap: 20px;
}

.hero-content,
.right-titles {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.button-top button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 18px;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-section .image {
    width: 500px;
    padding: 20px;
    margin: 20px;
}

.info .image {
    width: 50px;
    background-color: white;
    border: 5px solid #3882F6;
    border-radius: 6px;
    padding: 50px;
    margin: 20px;
}

.info .text {
    text-align: center;
    width: 150px;
    margin: 20px;
}

.boxes {
    display: flex;
}

.random-information .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 40px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.author {
    font-weight: 900;
    display: flex;
    justify-content: end;
}

.bottom {
    display: flex;
    background-color:#3882F6;
    border-radius: 6px;
    margin: 90px 300px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 30px;
}

.button-bottom button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    width: 100px
}

.textbox {
    color:#F9FAF8;
}

.textbox .heading {
    font-weight: 900;
    font-size: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}